@import url(http://fonts.googleapis.com/css?family=Muli);
.blocks {
  padding: 10px 10px 10px;
  font-size:25px;
  background:#F0F0F0;
  color:#000000;
  border-bottom:5px solid #FFFFFF;
  overflow:auto;
}
.body {
  background: #FF0000;
}

#delete {
  font-size: 10px;
  /*margin-right: 1px;*/
  /*width: 15px;*/
  float: right;
}

.post {
  font-size: 18px;
  text-align: center;
  background: #FFFFFF;
}

ul {
  list-style-type: none;
}

#post {
  width: 100%;
  height: 85px;
}

.title {
  text-align: center;
}

.com {
  padding: 10px 10px 10px;
  text-align: center;
  font-size:25px;
  background:#A0A0A0;
  color:#000000;
  border-bottom:5px solid #FFFFFF;
  overflow:auto;
}

.form1 {
  text-align: center;
}

.new_post {
  padding: 10px 10px 10px;
  font-size:12px;
  background:#E9EBEE;
  color:#000000;
  border-bottom:5px solid #FFFFFF;
  overflow:auto;
  text-align: center;
}

#author {
  font-size: 15px;
  margin-right: 0px;
  width: 60px;
  margin-left: auto;
  /*padding: 10px 10px 20px 1px;
  border: 1px solid #000000;
  overflow:auto;*/
}

#created {
  font-size: 15px;
  margin-right: 0px;
  width: 180px;
  margin-left: auto;
}

#header {
    padding:10px 100px;
    font-size:20px;
    background:#000000;
    color:#fff;
    border-bottom:4px solid #00FF00;
    overflow:auto;
}

#header .logo {
    font-family: 'Muli', sans-serif;
    float:left;
    color:#f3f7cc;
    font-size:25px;
    margin-right:10%;
    margin-top: .5%;
}

#header a {
    color:#f3f7cc;
}
#header a:hover {
    color:#fff;
}

#header .user {
    float:right;
    padding-top:4px;
}
