{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{posts}}{% endblock %}
{% block stylesheet %}<link href="{% static "css/home.css" %}" rel="stylesheet">{% endblock %}
{% block content %}
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 form1">
      <div class="form_cat">
        <h1>{{posts.category}}</h1>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 blocks">
      <div class="title">
        {{posts}}
        {% if user == posts.creator %}
        <span id="delete"><a href="{% url "delete_post" ids=posts.id %}">DELETE</a></span>
        {% endif %}
      </div>

      <div id="created">
          -{{posts.created}}
      </div>

        <div id="author">
            -{{posts.creator}}
        </div>

        <div class="col-xs-8 col-xs-offset-2 post">
          {{posts.post}}
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 new_post">
      <form action="{% url "new_comment" categoryss=categorys postss=posts %}" method="post">
        {% csrf_token %}
        <input type="text" id="comment" name="comment" class="form-group "placeholder="Comment">
        <br>
        <button type = "submit" class = "btn btn-primary form-group">Submit</button>

      </form>
    </div>
  </div>
  {% for x in posts.comments.all %}
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 com">
      {{x}}
      {% if user == x.creator %}
      <span id="delete"><a href="{% url "delete_comment" ids=x.id %}">DELETE</a></span>
      {% endif %}
      <div id="created">
          -{{x.created}}
      </div>

        <div id="author">
            -{{x.creator}}
        </div>
    </div>

  </div>
  {% endfor %}
</div>
{% endblock %}
